= simple_form_for(@post, html: { class: 'form-horizontal' }) do |f|
  = f.input :day
  = f.input :goals_first
  = f.input :quote_of_the_day
  = f.input :targets
  = f.input :successes
  = f.input :goals_second
  = f.button :submit
